@model BibliotecaFinal.Models.Livros

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar 🦋 </h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeLivros" class="control-label"></label>
                <input asp-for="NomeLivros" class="form-control" />
                <span asp-validation-for="NomeLivros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SinopseLivros" class="control-label"></label>
                <input asp-for="SinopseLivros" class="form-control" />
                <span asp-validation-for="SinopseLivros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutorLivros" class="control-label"></label>
                <input asp-for="AutorLivros" class="form-control" />
                <span asp-validation-for="AutorLivros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnoLivros" class="control-label"></label>
                <input asp-for="AnoLivros" class="form-control" />
                <span asp-validation-for="AnoLivros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaginasLivros" class="control-label"></label>
                <input asp-for="PaginasLivros" class="form-control" />
                <span asp-validation-for="PaginasLivros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista ⤶</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
