@{
    Layout = "_Layout";
    <span class="poema">
        "Passei a vida tentando corrigir os erros que cometi na minha ânsia de acertar."
    </span>
    <br />
    <span class="clarice"> - Clarice Lispector ♥</span>

    /*este texto foi propositalmente colocado para permanecer em todas as telas.*/
}
