@{
    <span class="poema">
            "Passei a vida tentando corrigir os erros que cometi na minha ânsia de acertar."
    </span>
    <br />
    <span class="clarice"> - Clarice Lispector ♥</span>
     
    <br />
    <br />

    <span class="poema">
        "Os sentimentos não podem ser ligados e desligados como interruptores de tomada."
    </span>
    <br />
    <span class="clarice"> - Nicolas Sparks ♥</span>

    <br />
    <br />

    <span class="poema">
                "Para quem não sabe aonde ir, qualquer caminho serve."
    </span>
    <br />
    <span class="clarice"> - O gato de Chesire ♥</span>

    <br />
    <br />

    <span class="poema">
        "As coisas têm vida própria. Tudo é questão de despertar a sua alma."
    </span>
    <br />
    <span class="clarice"> - Gabriel Garcia Márquez ♥</span>

    <br />
    <br />

    <span class="poema">
        "Pretender-se que a vida dos homens seja sempre dirigida pela razão é destruir toda a possibilidade de vida."
    </span>
    <br />
    <span class="clarice"> - Guerra e Paz ♥</span>
}
