html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #FFCCB2;
    font-size: larger;
}

.menu {
    background-color: #630700;
    text-align: right;
}

header {
    font-family: monospace;
   
}

.navbar-brand {
    color: white !important;
}
.coisalouca-menu {
    margin-left: 25px;
}
.btnbtn-primary {
    background-color: #dc3545 !important;
}

.poema {
    color: #380400;
    font-family:monospace;
}

.clarice {
    color: #380400;
    font-family: monospace;
}